__pycache__/
env/
dist/
.DS_Store
*.un~
vocabsieve.egg-info/
build/
.pytest_cache
cx_freeze/build
.coverage
htmlcov
.tox
docs/_site
docs/.jekyll-cache
.vscode
testdir

testdata/kaikki/*
!kaikki.org-dictionary-English-by-pos-postp.jsonl
!kaikki.org-dictionary-English-by-pos-postp.jsonl.gz